body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}

h1 {
    color: #ff9100;
    text-align: center;
    text-decoration: underline;
}

#today-box{
    background-color: #ff9100;
    color: white;
    box-shadow: 2px 2px 8px 2px rgb(201, 196, 196);
    margin-top: 10px;
    text-align: center;
    visibility: hidden;
}
.box{
    background-color: #ff9100;
    box-shadow: 2px 2px 8px 2px rgb(201, 196, 196);
    margin-top: 30px;
    display: grid;
    justify-content: center;
    padding: 80px;
    text-align: center;
}

#dob{
    border: solid 2px black;
    font-size: large;
    margin-bottom: 50px;
    box-shadow: 2px 2px 8px 2px black;
}

#btn{
    padding: 5px;
    font-size: larger;
    font-weight: bold;
    margin: 20px;
    background-color: rgb(123, 97, 214);
    border: solid 2px black;
    color: white;
    box-shadow: 2px 2px 8px 2px rgb(0, 0, 0);
}
#label{
    margin: 20px;
}